:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.user-link {
  position: relative;
}

.user-link::after {
  content: 'Logout';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -20px;
  color: transparent;
  transition: color 0.3s;
  text-align: center;
  margin-bottom: 1%;
  font-weight: 500;
}

.user-link:hover::after {
  color: #ffc107;

}

.user-link:hover {
  color: transparent;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#content {
  align-content: center;
  display: block;
  width: 100vw;
  height: 100vh;

}

/*CSS for Home*/

#logo-svg{
  width: 85%;

}

#landing {
  align-content: center !important;
  background-color:  #1a1a1a;
  color: white !important;
  width: 80%;
  height: auto;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  padding: 5%;
}

#col{
  align-content: baseline;
  padding-top: 10%;
}

#row{
  padding: 2%;
}

/*CSS for Footer*/

footer{
  margin: 2em;
  position: relative;
}

/*CSS for Categories*/
#image{
  padding: 0% !important;
}

h2{
  width: 100%;
  color:#000000;
  font-weight: bolder;
  padding-bottom: 5%;
}

#final{
  padding-top: 5%;
}

#group-category{
  padding: 2%;
}

#category{
  padding: 0% !important;
  align-content: center !important;
  background-color: #ffc107;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 5%;
}



#category-big{
  padding: 0% !important;
  align-content: center !important;
  background-color: #1a1a1a;
  width: 80%;
  height: 80%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

#category-content{
  padding: 0%;
}

#category-content-big{
  padding: 0%;
}

#food-small{
  padding: 0%;
  width: 100%;
}

#food-big{
  padding: 0%;
  width: 100%;
}

#button-play-2{
  margin-bottom: 5%;
}

#button-play{
  margin-bottom: 5%;
}


#img-small{
  margin-top: 5%;
  margin-bottom: 5%;
  width: 90%;
}

#img-big{
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
}

/*CSS for Sign-In*/

#signin-form{
  padding: 0.5em !important;
}

#signin-content{
  align-content: center;
  padding: 3%;
  margin: 0%;
}


#signin {
  align-content: center !important;
  background-color:  #1a1a1a;
  color: white !important;
  width: 70%;
  height: auto;
  margin-left: 3rem;
  margin-right: 3rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

/*CSS for Login*/
#tittle-text{
  width: 100%;
  color:#ffc107;
  font-weight: bolder;
  font-size: larger;
}

#tittle-all {
  width: 55%;
}

#input{
  width: auto !important;
}

#login-form{
  padding: 0.5em !important;
}

#login-content{
  align-content: center;
  padding: 3%;
  margin: 0%;
}

#signin-button{
  color:#ffc107;
}

#login {
  align-content: center !important;
  background-color:  #1a1a1a;
  color: white !important;
  width: 70%;
  height: auto;
  margin-left: 3rem;
  margin-right: 3rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

/* CSS for Header */
.navbar navbar-expand-lg {
  width: 100% !important;
}

#scream {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: fixed;
  overflow-y: visible;
  overflow-x: hidden;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

#nav-background {
  background-color:  #1a1a1a;
  width: 100%;
  background-color:  #1a1a1a;
  color: white !important;
  position: sticky;
}

/* Ranking.css */

.meal-image {
  width: 100px;
  height: 100px;
  border-radius: 5px;
}


#header {
  align-content: center;
  width: 100vw;
  background-color:  #1a1a1a;
  color: white !important;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  position:-webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
  
}

.navbar-brand{
  width: 6em;
  margin-right: 15%;
}

.navbar-toggler{
  background-color: #1a1a1a;
  color: white !important;
}

.navbar-toggler-icon{
  background-color: #1a1a1a;
  color: white !important;
}

.collapse navbar-collapse{
  width: 100% !important;
  background-color: #1a1a1a;
  color: white !important;
}

.navbar-nav me-auto mb-2 mb-lg-0{
  width: 100% !important;
  background-color: #1a1a1a;
  color: white !important;
}

.nav-item{
  white-space: nowrap;
  width: 100% !important;
  background-color: #1a1a1a;
  color: white !important;
}

.nav-link active{
  padding: 2% !important;
  width: 100% !important;
  background-color: #1a1a1a;
  color: white !important;
}

.nav-link{
  padding: 2%;
  width: 100% !important;
  background-color: #1a1a1a;
  color: white !important;
}

.nav-item dropdown{
  width: 100% !important;
  background-color: #1a1a1a;
  color: white !important;
}

.nav-link dropdown-toggle{
  width: 100% !important;
  background-color: #1a1a1a;
  color: white !important;
}


.dropdown-menu{
  width: 100% !important;
  background-color: #1a1a1a;
  color: white !important;
}

.dropdown-item{
  padding: 2% !important;
  width: 100% !important;
  width: 100% !important;
  background-color: #1a1a1a;
  color: white !important;
}

.d-flex{
  padding: 2% !important;
  width: 100% !important;
  margin-right: 15%;
  background-color: #1a1a1a;
  width: 35em;
}

.form-control me-2{
  width: 100% !important;
  background-color: #1a1a1a;
}

body{
  background-image: url("./assets/5566879.jpg");
  background-size: cover;
  background-repeat: repeat;
  width: 100%;
  position: fixed;
  padding: 0;
  margin: 0;
}

html{
  padding: 0;
  margin: 0;
}